<p [class.active]="true" #paragraph>App Works</p>
<div [ngClass]="{ active: true, error: true }">{{ message }}</div>
<div [style.color]="isActive ? 'blue' : 'red'">{{ getInfo() }}</div>
<button #btn (click)="onChange($event, btn)">切换颜色</button>
<input type="text" (keyup)="onKeyUp($event)" />
<div [innerHTML]="htmlString"></div>
<div [attr.data-test]="title">{{ 'hello' }}</div>
<div [ngStyle]="{ 'background-color': '#77a0a0', color: '#fff' }">{{ a == b ? '相等' : '不相等' }}</div>
<img [src]="imgUrl" alt="" width="500" />

<ul>
  <li #items>a</li>
  <li #items>b</li>
  <li #items>c</li>
</ul>
<app-layout></app-layout>

