<app-form-builder></app-form-builder>
<app-validators></app-validators>
<app-form-array></app-form-array>

<form [formGroup]="contactForm" (submit)="onSubmit()">
    <input type="text" formControlName="name" />
    <input type="text" formControlName="phone" />
    <button>提交</button>
</form>

<!-- <form #f="ngForm" (submit)="onSubmit(f)">
    <input type="text" #username="ngModel" name="username" ngModel required minlength="2" maxlength="10" />
    <div *ngIf="username.touched && !username.valid && username.errors">
        <div>{{username.errors | json}}</div>
        <div *ngIf="username.errors['required']">请填写用户名</div>
        <div *ngIf="username.errors['minlength']">用户最少两个字符</div>
    </div>
    <button type="submit">提交</button>
</form> -->

<app-demo1></app-demo1>
<app-child [person]="person">
    <div #box>内容投影</div>
</app-child>
<button (click)="changeName()">改变</button>
<app-person (sendData)="getData($event)" name="zhangsan" age=20></app-person>

<div>{{date | date:"yyyy-mm-dd"}} </div>
<div>{{money | currency: "¥"}}</div>
<div>{{title | uppercase}}</div>
<div>
    <pre>{{list | json}}</pre>
</div>
<div>{{paragraphText | summary: 100}}</div>

<p [class.active]="true" #paragraph>App Works</p>
<div [ngClass]="{ active: true, error: true }">{{ message }}</div>
<div [style.color]="isActive ? 'blue' : 'red'">{{ getInfo() }}</div>
<button #btn (click)="onChange($event, btn)">切换颜色</button>
<input type="text" (keyup)="onKeyUp($event)" />
<div *ngIf="isActive" [appHover]="{ bgColor: 'gray' }" [innerHTML]="htmlString"></div>

<div *ngIf="isActive; then tempA; else tempB"></div>
<ng-template #tempA>TempA</ng-template>
<ng-template #tempB>TempB</ng-template>

<div *ngIf="list.length == 0; then noData; else dataList">没有更多内容</div>
<ng-template #noData>没有更多内容</ng-template>
<ng-template #dataList>
    <li *ngFor="let item of list; let i = index; let isEven = even; let isOdd = odd; let isFirst = first; let isLast = last"
        [ngClass]="{ even: isEven, odd: isOdd }">
        {{ item.id }}
        {{ item.name }}
        {{ isFirst && '第一行' }}
        {{ isLast && '最后一行' }}
        {{ i }},
    </li>
</ng-template>

<div [hidden]="isActive" [attr.data-test]="title">{{ 'hello' }}</div>
<div [ngStyle]="{ 'background-color': '#77a0a0', color: '#fff' }">{{ a == b ? '相等' : '不相等' }}</div>
<img [src]="imgUrl" alt="" width="500" />

<ul>
    <li #items>a</li>
    <li #items>b</li>
    <li #items>c</li>
</ul>
<app-layout></app-layout>

<!-- <input type="text" [(ngModel)]="username" /> -->
<button class="btn btn-primary" (click)="setData()">更改数据</button>
<p>{{ username }}</p>
<app-demo>
    <div class="a">a</div>
    <ng-container class="b">b</ng-container>
</app-demo>